# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/.gradle
android/captures/
android/local.properties
android/key.jks
android/app/google-services.json

# iOS
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
ios/Pods/

# IDE
.idea/
.vscode/
*.suo
*.user